.add_node_line_input {
    width: 100%;
}
.add_node_questions_holder {
    width: 510px;
}
.add_node_question_text {
    width: 410px; /*
    padding: 1px; */
}
.add_node_new_option_btn {
    display: inline;
}
.add_node_question_holder {
    width: 500px;
    border-width: 1px;
    border-style: solid;
}

.add_node_options_div  {
    padding-left: 3px;
    padding-right: 6px;
}
.add_node_options_div input {
    width: 100%;
}
.add_node_time_input {
  width: 200px;
}
.add_node_date_input {
  width: 200px;
}
.add_event_parent_desc {
  border-width: 1px;
  border-style: solid;
  text-align: left;
  margin-bottom: 20px;
}
