.user_editinfo_div_parent {
  position: relative;
}
.user_editinfo_refresh_btn {
  width: 30px;  height: 30px;
  left: 3px; top: 3px;
  display: inline-block;
  position: absolute;
}
.user_editinfo_refresh_btn img {
  content:url("http://trustorg.com/img/forum/offtop.png");
  width: 100%;
  height: 100%;
}

.user_editinfo_form {
    width: 400px;
    border-width: 1px;
    border-style: solid;
}
.user_editinfo_roles_div {
   width: 200px;
   display: inline-block;
   float: right;
}
.user_editinfo_apply_btn {
  display: inline-block;
}