.login_error_box {
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    margin-top:  -70px; /*set to a negative number 1/2 of your height*/
    margin-left: -250px; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position:fixed;
    text-align: center;

}