/** Buttons for event */
.refresh_event_data_btn {
  width: 30px;  height: 30px;
  right: 0px;   top: 1px;
  display: inline-block;
  position: absolute;
}
.refresh_event_data_btn img {
  content:url("http://icons.iconarchive.com/icons/visualpharm/must-have/128/Refresh-icon.png");
  width: 100%; height: 100%;
  border-width: 1px; border-style: solid;
}

.delete_event_btn {
  width: 30px; height: 30px;
  right: 35px; top: 1px;
  display: inline-block;
  position: absolute;
}
.delete_event_btn img {
  content:
    url("http://icons.iconarchive.com/icons/tpdkdesign.net/refresh-cl/128/Symbols-Delete-icon.png");
  width:  100%; height: 100%;
  border-width: 1px; border-style: solid;
}

.edit_event_btn {
  width: 30px; height: 30px;
  right: 70px; top: 1px;
  display: inline-block;
  position: absolute;
}
.edit_event_btn img {
  content:
    url("http://www.iconsearch.ru/uploads/icons/humano2/128x128/document-edit.png");
  width:  100%; height: 100%;
  border-width: 1px; border-style: solid;
}

.insert_event_after_btn {
  width: 30px; height: 30px;
  right: 105px; top: 1px;
  display: inline-block;
  position: absolute;
}
.insert_event_after_btn img {
  content:
    url("http://c.dryicons.com/images/icon_sets/coquette_icons_set/png/128x128/add_to_folder.png");
  width:  100%; height: 100%;
  border-width: 1px; border-style: solid;
}

.event_toolbar_add_question_btn {
  width: 30px; height: 30px;
  right: 140px; top: 1px;
  display: inline-block;
  position: absolute;
}
.event_toolbar_add_question_btn img {
  content: url("http://png-2.findicons.com/files/icons/1160/sticky/128/question.png");
  width: 100%; height: 100%;
  border-width: 1px; border-style: solid;
}

.event_toolbar_smart_add_question_btn {
  width: 30px; height: 30px;
  right: 175px; top: 1px;
  display: inline-block;
  position: absolute;
}
.event_toolbar_smart_add_question_btn img {
  content: url("http://www.iconshock.com/img_jpg/SUPERVISTA/general/jpg/128/wizard_icon.jpg");
  width: 100%; height: 100%;
  border-width: 1px; border-style: solid;
}


/** End of buttons for event */

.event_view_links_holder {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  border-style: solid; border-width: 1px;
  float: left;
}

.event_data_holder {
  display: inline-block;
  width: 900px;
  position: relative;
}
.event_description_holder {
  width: 100%;
}

.view_event_title {
  float: left;
  widht: 70%;
}
/* contains picture and event description */
.view_event_pic_holder {
  overflow: hidden;
}
.view_event_picture {
  float: left;
  width: 400px;
  height: 100%;
  display: inline-block;

}
.view_event_description {
  padding: 5 5 5 5px;
  /*height: 100%;*/
  text-align: left;
  width: auto;
  overflow: hidden;
}
.view_event_links_heading {
  position: relative;
  height: 50px;
}
.view_event_links_heading_msg {
/*
  position: absolute; */
  display: block;
  left: 50%;
  margin-left: 48px;
  margin-right: 48px;
}
.view_event_prev_day {
  left: 0px;
  position: absolute;
  display: inline-block;
}
.view_event_prev_day img {
  content:url("http://b.dryicons.com/images/icon_sets/coquette_icons_set/png/48x48/back.png");
}
.view_event_next_day {
  right: 0px;
  top: 0px;
  position: absolute;
  display: inline-block;
}
.view_event_next_day img {
  content:url("http://a.dryicons.com/images/icon_sets/coquette_icons_set/png/48x48/next.png");
}

.view_event_next_day_unclickable {
  right: 0px; top: 0px;
  position: absolute; display: inline-block;
}
.view_event_next_day_unclickable img {
  content:url("http://s1.iconbird.com/ico/0612/vistabasesoftwareicons/w256h2561339252444BoxGreen.png");
  width: 48px;
  height: 48px;
}
.view_event_prev_day_unclickable {
  left: 0px; top: 0px;
  position: absolute; display: inline-block;
}
.view_event_prev_day_unclickable img {
  content:url("http://s1.iconbird.com/ico/0612/vistabasesoftwareicons/w256h2561339252444BoxGreen.png");
  width: 48px; height: 48px;
}

.view_event_add_event_btn {
  width: 200px;
  height: 30px;
  /* needed to center content in the center of this div */
  display: table-cell;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
}
.view_event_add_event_btn a {

}
.view_event_selected_event {
  border-width: 3px;
  border-color: black;
  border-style: dotted;
}
.view_event_original_link_holder {
  text-align: left;
}

.question_buttons_div {
  display: inline;
}
