#smart_add_event_prev_desc {
  width: 300px;
  border-width: 1px; border-style: solid;
}

#smart_add_event_next_desc {
  width: 300px;
  border-width: 1px; border-style: solid;
}

#smart_add_message_text {

}

.smart_add_textarea {
  width: 100%;
  height: 100px;
}