.node_data_holder {
  position: relative;
}

.node_description_holder {
  width: 75%;
}
.node_title {
  font-family: "Ubuntu", "Dejavu Sans Mono", "Consolas";
}
.node_buttons {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.node_children_links_holder {
    background-color: lavender;
}
.node_child_link {
    /*background-color: lavender;*/
    margin-bottom: 3px;
    margin-top: 1px;
}
.node_comments_holder {
    position: relative;
}
.node_comment_holder {
    position: relative;
    height:  100px;
}
.node_comment {
    width: 1000px;
    /* we need to make it adaptive to .node_comment_text height */
    /*height: 100px;   */
    text-align: left;
    position: relative;
    margin-top: 2px;
    background-color: aliceblue;
}
.node_comment_header {
  display: inline-block;
}
.node_comment_header > * {
    vertical-align:  middle;
}
.node_comment_avatar {
  width: 40px; height: 40px;
  display: inline-block;
}
.node_comment_avatar img {
    width: 40px; height: 40px;
}
.node_comment_nick {
    display: inline-block;
}
.node_comment_reply_btn {
    bottom: 0px;
    left: 0px;
    position: absolute;
}
.node_comment_text {
    height: 20px;
}
.node_comment_root_reply_textarea {
    width: 100%;
}
.node_comment_root_submit_btn {
    float: left; /*
    bottom: 0px;
    left: 0px;
    position: absolute; */
}
/*
#refresh_node_data_btn img {
  content:url("http://trustorg.com/img/forum/offtop.png");
  width: 100%;
  height: 100%;
  border-width: 1px; border-style: solid;
}

#refresh_node_data_btn {
  width: 30px;  height: 30px;
  left: 3px; top: 3px;
  display: inline-block;
  position: absolute;
  background-image: url(http://trustorg.com/img/forum/offtop.png);
}
*/
.add_new_question_btn {
    width: 100px;
}
.question_div {
}
.question_div .question_div_text {
  display: inline-block;
}
/* question icon */
.question_icon_img {
   content:url("http://www.truesoft.ru/bins/truesoft/img/question_icon.jpg");
   width: 20px; height: 20px;
   vertical-align: middle;
}
/* add new question button  */
.remove_question_btn {
   content:url("http://www.iconsearch.ru/uploads/icons/softwaredemo/128x128/deletered.png");
   width: 20px; height: 20px;
   vertical-align: middle;
}
.add_question_btn {
   content:url("http://iconizer.net/files/Brightmix/orig/monotone_close_exit_delete.png");
   width: 20px; height: 20px;
   vertical-align: middle;
}
.add_option_btn {
   content:url("http://a.dryicons.com/images/icon_sets/simplistica/png/128x128/add.png");
   width: 20px; height: 20px;
   vertical-align: middle;
}
.remove_option_btn {
   content:url("http://iconizer.net/files/Brightmix/orig/monotone_close_exit_delete.png");
   width: 20px; height: 20px;
   vertical-align: middle;
}

/* for tree-like view */
.tree_node_holder {
    position: absolute;
    width:         200px;
    height:        200px; /*
    margin-left:   15px;
    margin-right:  15px;
    margin-bottom: 15px;
    margin-top:    15px; */
    border-width:  1px;
    background-color: rgb(229,255,228);
}
.tree_nodes_holder {
    position: relative;
}
.tree_node_center_link {
    bottom: 0px; left: 0px;
    display: inline-block;
    position: absolute;
}
.tree_node_more_info_link {
    bottom: 0px; right: 0px;
    display: inline-block;
    position: absolute;
}

.questions_block {
   border-width: 1px;
   border-style: solid;
}