html{
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
}

a {
  /*text-decoration: none;*/
  color: #4183c4;
}
/*
a:visited {
  text-decoration: none;
  color: red;
}
*/
.presentation {
  padding: 10px;
  text-align: justify;
}

.presentation-title {
  font-size: 40pt;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.advice {
  font-size: 10pt;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.column {
  width: 50%;
}
.left-bar {
  border-left: 3px solid #dbdbdb;
  padding-left: 10px;
}

.left {
  left: 0;
}
.right {
  right: 0;
}
.absolute {
  position: absolute;
}
.bottom {
  bottom: 0;
}

.bar-item {
  margin-bottom: 10px;
}

.button {
  border: none;
  background-color: #4183c4;
  color: white;
}

.clear {
  clear: both;
}

.inline-block {
  display: inline-block;
}

#ukraine-logo {
  color: black;
  text-decoration: none;
  font-size: 30pt;
  font-weight: 700;
}
#ukraine-logo:hover {
  color: #4183c4;
}
#ukraine-logo:visited {
  color: black;
}

#ukraine-header {
  position: relative;
  width: 90%;
  border-bottom: 2px solid #dbdbdb;
  height: 50px;
}

#ukraine-body {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%;
  text-align: center;
}

#ukraine-footer {
  width: 90%;
  text-align: center;
  padding: 10px;
  border-top: 2px solid #dbdbdb;
  height: 50px;
}

#ukraine-forms {
  text-align: left;
  display: inline-block;
}

#ukraine-navbar {
  margin-bottom: 10px;
}

#ukraine-navbar .item {
  margin-left: 5px;
}

.eba-template {
  font-size: 10pt;
  color: #bdbdbd;
}

#ukraine-request-msgs {
  padding: 5px;
}

.rmsg {
  padding-bottom: 5px;
  padding-top: 5px;
}

.error {
  background-color: #db6573;
}

.notice {
  background-color: #4de886;
}

#ukraine-user-box {
  margin-bottom: 10px;
}

.ukraine-avatar {
  width: 200px;
  height: 200px;
}

.disconnect-form {
  display: inline-block;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
