.when_view_content_div {
  position: relative;
}
.when_view_links_holder {
  width: 400px;
}
.when_view_link {
  width: 200px;
}
.when_view_link_time {
   display: inline-block
}
.when_view_forward_btn {
   position: absolute;
   display: inline-block;
   right: 0px; top: 0px;
}
.when_view_back_btn {
   position: absolute;
   display: inline-block;
   left: 0px; top: 0px;
}
.when_view_today_label {
  float: center;
}
